:root{
  --orange:#DD5B2C;
  --fundal:#1A1F23;
  --lime:#B3B752;
  background-color: var(--fundal);
}


.Body{
  height: auto ;
  display: grid;
  grid-template-columns: 20% auto 250px;
  grid-template-rows: 180px 60px auto 50px;
  column-gap: 8px;
  row-gap: 2px;
  color: var(--orange);
}

.navigatie{
  grid-area: 1 / 1 / 2 / 4; 
  text-align: end;
}

.navigatie ul li{
  margin-top: 10px;
  list-style: none; 
  padding-right: 10px;
  font-weight: bold;
}


.Stiri{
  grid-area: 2 / 1 / 4 / 2; 
  overflow-y: scroll;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



.Stiri h2{
  text-align: center;
  text-decoration:underline;
}

.stiriImg {
  transition: transform .2s;
  border-radius: 5px ;
}

.stiriImg:hover {
  transform: scale(1.1);
}

.Adds{
 grid-area: 2 / 3 / 4 / 4;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;

}

.addImg{
  transition: transform .3s;
}

.addImg:hover{
  transform: scale(1.5);
}

.titlu{
  grid-area: 2 / 2 / 3 / 3;
}

.titlu h1{
  text-align: center;
  font-family: cursive;
  font-size: 2em;
	box-shadow: 4px 4px 5px var(--orange);
  margin: auto;
  padding: 5px;
}

.continut{ 
  grid-area: 3 / 2 / 4 / 3; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.continut form{
  display: flex;
  flex-direction: column;
}

.content{ 
  grid-area: 3 / 2 / 4 / 3;
  padding-left: 50px; 
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(auto-fill, 1fr);
  row-gap: 25px;
  font-size: 20px;
}

.continut form ul li{
  list-style: none;
  padding: 3px;
} 

.feedBack{
  overflow-y: scroll;
  height: 350px;
  width: 725px ;
  padding-top: 10px;
  margin-top: 20px;

}

#footer{
  grid-area: 4 / 1 / 5 / 4;
	width:960px;
	height:auto;
	margin:0 auto;
	font-size:15px;
	padding-top:20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}


.merchNav{
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: row;
}

.merchNav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.merchNav ul li {
  margin-top: 10px;
  list-style: none; 

}

.button{
  background-color: var(--fundal);
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  color:var(--lime);
  box-shadow: 4px 4px 5px var(--orange);
  border: none;
 
}


.buton{
  background-color: var(--lime);
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  border: none;
}

.addButon{
  background-color: var(--lime);
  border-radius: 20px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.fbuton{
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--orange);
}

.filtrare{
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: space-around;
}

.filtre select{
  cursor: pointer;
}

